<section class="page-section">
    <div class="container">
        <h2 class=" label text-uppercase text-secondary text-center mb-0">Portfolio</h2>
        <div class="icons text-center  ">
            <div><i class="fas fa-star icon-start"></i></div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="position-relative mx-auto">
                    <div class="portifillo-item d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/game.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="position-relative mx-auto">
                    <div class="portifillo-item d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/cab.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="position-relative mx-auto">
                    <div class="portifillo-item d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/cabin.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="position-relative mx-auto">
                    <div class="portifillo-item d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/safe.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="position-relative mx-auto">
                    <div class="portifillo-item d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/cake.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="position-relative mx-auto">
                    <div class="portifillo-item d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/submarine.png" alt="" />
                </div>
            </div>
        </div>      
    </div>
</section>
