<section class=" about-details ">
 <div class="container ">
    <h2 class=" text-center m-lg-1 text-white pt-3 fs-1 fw-bold text-uppercase">about</h2>
    <div class="icons text-center ">
        <div><i class="fas fa-star icon-start"></i></div>
    </div>
    <div class="row about-info">
    
        <div class="col-lg-6 col-md-4  bb"><p class="text-white fs-5">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact!</p></div>
        <div class="col-lg-6 cc"><p class="text-white fs-5">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact!</p></div>
        
    </div>
 </div>
</section>
