<header class="text-white text-center heading">
    <div class="container d-flex align-items-center flex-column">
        <img class="img-startanglure mb-5 w-25" src="assets/avataaars.svg" alt="photo Angular" />
         <h1 class="text-uppercase m-0 label-heading">start angular</h1>
         <div class="icons">
            <div><i class="fas fa-star"></i></div>
        </div>
        <p class="subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>


    </div>
</header>
